@{
    ViewData["Title"] = "Home Page - SpendSmart";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Expense" class="btn btn-primary">Overview</a>
</div>
